.main_page {
    display: flex;
    flex-direction: row;
}

.main_page__content,
.table_contents__content {
    background-color: #e4ebf7;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__header {
    display: flex;
    flex-direction: row;
    background-color: #f2f6fc;
    height: 3.25em;
    padding: 0 2.5%;
}

.header__search,
.header__search_course {
    display: flex;
    align-items: center;
    background-color: #f2f6fc;    
    height: 100%;
    width: 76%;
    padding-left: 0.692em;
    border: 0;
    color: #515974;
    outline: none;
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 26px;
    line-height: 48px;
}

.header__search_course {
    width: 81%;
}

.header__settings img {
    width: 28px;
}

.header__search:focus {
    border-bottom: #515974 1px solid;
}

.header__settings,
.header__logout,
.header__create-course,
.header__save-course,
.header__back_btn,
.header__save-page {
    border: 0;
    cursor: pointer;
    background: transparent;
}
.header__logout,
.header__create-course,
.header__save-course,
.header__back_btn,
.header__save-page {
    display: flex;
    align-items: center;
    min-width: 3.192em;
    height: 100%;
    margin-left: 0.692em;
    border-radius: 4.1px;
    padding: 2px;
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 26px;
    color: #515974;
    outline: none;
}

.header__back_btn {
    margin-left: 0em;
    padding-right: 10px;
    border-right: 1px solid;
    border-radius: 0;
}

.header__create-course {
    height: 100%;
    min-width: 5.9em;
    margin-left: 0;
}
.header__save-page {
    min-width: 9em;
}

.header__logout:hover,
.header__create-course:hover,
.header__save-course:hover,
.header__back_btn:hover,
.header__save-page:hover {
    border: #515974 1px solid;
    border-radius: 4.1px;
}