.sidebar {
	display: flex;
	flex-direction: column;
	position: sticky !important;
	min-height: 100vh;
	width: 19.250em;
	overflow-x: hidden;
  background-color: #1b2133;
  color: #f5f9fd;
}

.sidebar__logo {
  height: 3em;
  width: 100%;
  padding: 0.85em;
  font-size: 28px;
  font-weight: 500;
}

.sidebar__person {
  display: flex;
  flex-direction: row;
  height: 8em;
  padding: 1.5em;
  border-bottom: #0c1224 1px solid;
  border-top: #0c1224 1px solid;
}

.person__photo {
  background-color: #f5f9fd;
  width: 4.875em;
  height: 4.875em;
  border-radius: 100%;
}

.pearson__name {
  padding: 0 1.750em;
}

.sidebar__menu {
  border-bottom: #0c1224 1px solid;
}
.menu__item,
.menu__item_first {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1.5em;
}

.item__icon {
  margin-right: 1em;
}

.menu__item_first {
  padding: 1.250em 1.5em;
  color: #515974;
}