.sidebar {
	display: flex;
	flex-direction: column;
	position: sticky !important;
	min-height: 100vh;
	width: 19.250em;
	overflow-x: hidden;
  background-color: #1b2133;
  color: #f5f9fd;
}

.sidebar__logo {
  height: 1.429em;
  width: 100%;
  padding: 0.857em;
  font-size: 28px;
  font-weight: 500;
}

.sidebar__person {
  display: flex;
  flex-direction: row;
  height: 8em;
  margin-top: 1.5em;
  padding: 1.5em;
  border-bottom: #0c1224 1px solid;
  border-top: #0c1224 1px solid;
}

.person__photo {
  background-color: #f5f9fd;
  width: 4.875em;
  height: 4.875em;
  border-radius: 100%;
}

.pearson__name {
  padding: 0 1.750em;
}

.sidebarlist__item,
.sidebarlist__firstitem {
  height: 4em;
  padding: 1.250em 1.5em 1.250em 4.000em;
}

.sidebarlist__first_item {
  padding: 1.250em 1.5em;
  color: #515974;
}