.table-contents_container,
.course-content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.course-content_container{
    padding: 0px 4em;
}

.table-contents_ul {
    list-style: none;
    width: 95%;
}

.table-contents__item,
.table-contents__item__input {
    display: flex;
    align-items: center;

}
.table-contents__item {
    height: 3.35em;
    margin-top: 0.25em;
    padding-left: 2.3em;
    border: 1px solid #515974;
    background-color: #e4ebf7;
    background-clip: border-box;
    border-radius: .25rem;
    color: #515974;
}

.table-contents__item__input {
    background-color: #e4ebf7;    
    height: 100%;
    width: 90%;
    margin-left: 0.5em;
    border: 0;
    color: #515974;
    outline: none;
    font-family: "Noto Sans";
    font-weight: 600;
    line-height: 1.5;
    word-wrap: break-word;
}

.item_section {
    display: flex;
    margin-left: 2em;
    width: 90%;
}

.table-contents__item__edit {
    height: 100%;
}

.table-contents__item__button,
.item__edit_btn {
    width: 9.5em;
    height: 3.35em;
    margin: 0.2em 0 0 2em;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 16px;
    color: #515974;
    background-color: #e4ebf7;
    border: 1px solid #515974;
    cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;        
}

.item__edit_btn {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    border-left: 1px solid #515974;
}

.item__edit_btn:hover {
    color: #000;
}

.create-unit {
    margin-left: 0;
}

.table-contents__section-list{
    padding: 0 0.1em 0.1em 0.1em;
    margin: 0.3em 0;
    border-radius: 0.25em;
    background: #f2f5fc;
}